<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobimvp.privacybox"
    android:versionCode="2"
    android:versionName="1.0.1">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.READ_LOGS" />  <!-- logcat -b events 所需要权限，不过4.1后非系统应用只能查询到自身log日志 -->
    <uses-permission android:name="android.permission.GET_TASKS" />  <!-- ActivityManager getRunningTasks 方法所需要的权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!--
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
     <uses-permission android:name="android.permission.NFC" />
     -->


    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <application
        android:name=".PBApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/PRIVACYBOX_Theme">
        <activity
            android:name=".ui.LauncherActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.guide.GuideActivity"
            android:excludeFromRecents="true"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.MainActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:logo="@drawable/logo"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.guide.NFCGuideActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:parentActivityName="com.mobimvp.privacybox.ui.guide.GuideActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.guide.NFCBadgeActivity"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity
            android:name=".ui.guide.DialPhoneGuideActivity"
            android:excludeFromRecents="true"
            android:parentActivityName="com.mobimvp.privacybox.ui.guide.GuideActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.browser.FileBrowserActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.browser.MediaBrowserActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.filelock.FileLockActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.filelock.MediaLockActivity"
            android:excludeFromRecents="true"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.filelock.MediaGalleryActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.applock.LockSettingsActivity"
            android:excludeFromRecents="true"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.applock.LockAppActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.applock.DummyActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />

        <service
            android:name=".service.AppLockService"
            android:enabled="true"></service>
        <receiver
            android:name=".ui.guide.OutcallReceiver"
            android:exported="true"> <!-- 默认为true, 如果设置exported为false，则外部程序无法导入 -->
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
    </application>

</manifest>